name: Dan McDermott - Slack-Me CI/CD

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  IMAGE_NAME: metaldev/dmcdermot-wa-slack-me

jobs:
  build-and-test:
    name: Build & Test Slack-Me App
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'stg' && 'stg' || 'dev' }}

    # steps:
    #   - name: Checkout repository
    #     uses: actions/checkout@v4

    #   - name: Build test image (includes dev dependencies)
    #     run: docker build --file Dockerfile --target test -t slack-test .

    #   - name: Copy environment file
    #     run: cp .env.example .env

    #   - name: Run Laravel unit tests in container
    #     run: |
    #       docker run --rm \
    #         -e SLACK_SECRET="${{ secrets.SLACK_SECRET }}" \
    #         slack-test php artisan test --testdox
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Build Application
        run: |
          composer install --no-interaction --prefer-dist
          cp .env.example .env
          php artisan key:generate

      - name: Run tests
        env:
          SLACK_SECRET: ${{ secrets.SLACK_SECRET }}
        run: php artisan test --testdox

  docker:
    name: Build & Push Docker Image
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image from root
        run: docker build -t ${{ env.IMAGE_NAME }} .

      - name: Log in to DockerHub
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          docker tag ${{ env.IMAGE_NAME }} ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          docker push ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          docker push ${{ env.IMAGE_NAME }}:latest